<div class="container">
    <h1 class="page-header">Seats View</h1>
    <div class="container-fluid">
      <div clas = "row">
            <div class ="col-sm-offset-4 col-sm-4" >
                  {{$ctrl.seatData.count}} Seats of <b> {{$ctrl.seatData.name}} </b> class @ Rs.{{$ctrl.seatData.price}}
            </div>
              <table class="table">
                <tr ng-repeat="row in $ctrl.seatData.rows">
                  <td> <b> {{row.rn}} </b> </td>
                  <td ng-repeat="v in row.s  track by $index">
                     <span class="badge pull-right"> {{v}} </span>
                   </td>
                </tr>
            </table>
      </div>
    </div>
</div>
